AppKit==0.2.8
array_api_strict==2.3.1
attr==0.3.2
bokeh==3.4.1
Brotli==1.0.9
brotlicffi==1.1.0.0
cairocffi==1.7.1
Carbon==1.1.10
charset_normalizer==2.0.4
checks==0.2
ConfigParser==7.2.0
contextlib2==21.6.0
cryptography==42.0.5
Cython==3.0.12
defcon==0.12.1
defusedxml==0.7.1
docutils==0.18.1
docutils==0.18.1
filelock==3.18.0
freetype_py==2.5.1
fs==2.4.16
glyphsLib==6.10.1
HTMLParser==0.0.2
hypothesis==6.130.5
importlib_metadata==7.0.1
ipykernel==6.29.5
ipython==8.12.3
ipython==8.25.0
ipywidgets==7.8.1
jax==0.4.35
Jinja2==3.1.6
jnius==1.1.0
keyring==24.3.1
lxml==5.2.1
lz4==4.3.2
mock==5.2.0
mpmath==1.3.0
mtrand==0.1
munkres==1.1.4
mypy==1.10.0
ndonnx==0.9.3
olefile==0.47
pandas==2.2.3
pickle5==0.0.12
pooch==1.8.2
protobuf==3.20.3
psutil==6.1.0
psutil==5.9.0
PyInstaller==6.12.0
pyobjc_framework_Cocoa==10.1
pyOpenSSL==24.0.0
pyOpenSSL==25.0.0
PyQt5==5.15.11
PyQt5_sip==12.13.0
PyQt6==6.8.1
PySide2==5.15.2.1
PySide6==6.8.3
pytest==7.4.4
pytest_fail_slow==0.6.0
pytest_run_parallel==0.3.1
pytest_timeout==2.3.1
pytz==2024.1
PyYAML==6.0.1
PyYAML==6.0.2
Quartz==0.0.1.dev0
railroad==0.5.0
redis==5.2.1
reportlab==4.3.1
Res==0.1.7
scikits.talkbox==0.2.5
scipy_doctest==1.6
selenium==4.30.0
setuptools==69.5.1
setuptools_scm==8.2.0
shiboken2==5.15.2.1
shiboken6==6.8.3
sip==6.7.12
Sphinx==8.2.3
sphinx_gallery==0.19.0
sympy==1.13.1
thread==2.0.5
threadpoolctl==3.6.0
tornado==6.4.1
ufoLib2==0.17.1
uharfbuzz==0.48.0
unicodedata2==15.1.0
urllib3_secure_extra==0.1.0
xattr==1.1.4
xmlrpclib==1.0.1
zopfli==0.2.3.post1
